<div class="survey-list">
  @if (displayActiveSurveys()) {
    @for (survey of activeSurveys(); track survey.id) {
      <app-survey-list-item
        class="survey-list__item"
        [surveyMetaData]="survey"
        [routerLink]="['survey', survey.id]"
      ></app-survey-list-item>
    }
  } @else {
    @for (survey of pastSurveys(); track survey.id) {
      <app-survey-list-item
        class="survey-list__item"
        [surveyMetaData]="survey"
        [routerLink]="['survey', survey.id]"
        [isPast]="true"
      ></app-survey-list-item>
    }
  }
</div>
