@use '../../../styles/abstract/mixins' as *;
@use '../../../styles/abstract/breakpoints' as *;
@use '../../../styles/abstract/variables' as *;

:host {
  width: 100%;
}

.survey-list {
  @include flex-start(column, 15px);
  width: 100%;

  @include respond(md) {
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include respond(xl) {
    max-width: 1042px;
    max-height: 411px;
    overflow-y: auto;
    padding-right: 8px;
  }

  &__item {
    height: 147px;

    @include respond(md) {
      width: calc((100% - 16px) / 2);
      height: 127px;
    }
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $secondary-orange;
    border-radius: 10px;
  }
}
