@use '../../styles/base/fonts' as *;
@use '../../styles/abstract/mixins' as *;
@use '../../styles/abstract/variables' as *;

.survey-wrapper {
  @include flex-center(column, 80px);
  width: 100%;
  padding: 0 16px 48px 16px;

  @include respond(xs) {
    padding: 0px 32px 48px 32px;
  }

  @include respond(lg) {
    padding: 0px 100px 36px 100px;
  }
}
