$breakpoints: (
  xs: 390px,
  // mobile design breakpoint
  sm: 576px,
  // small phones
  md: 768px,
  // tablets
  lg: 1024px,
  // landscape tablets/small laptops
  xl: 1280px,
  // standard laptops
  2xl: 1440px,
  // design breakpoint
  3xl: 1600px,
  // large screens
  4xl: 1920px, // fhd+
);
