@use './breakpoints' as *;
@use 'sass:map';

@mixin flex-center($direction: row, $gap: 0) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
  gap: $gap;
}

@mixin flex-space($direction: row) {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: $direction;
}

@mixin flex-start($direction: row, $gap: 0) {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: $direction;
  gap: $gap;
}

@mixin flex-end($direction: row, $gap: 0) {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: $direction;
  gap: $gap;
}

@mixin respond($size) {
  $value: if(sass(map.has-key($breakpoints, $size)): map.get($breakpoints, $size) ; else: $size);
  @media screen and (min-width: $value) {
    @content;
  }
}
