$primary-purple: #35273a;
$secondary-purple: #8e7099;
$text-purple: #221227;
$primary-orange: #ee9236;
$secondary-orange: #ffb770;
$tertiary-orange: #ffcfa1;
$primary-lilac: #f4e9fb;
$secondary-lilac: #faf5fe;
$primary-white: #fefdff;
