@use '../../../styles/abstract/mixins' as *;
@use '../../../styles/abstract/variables' as *;
@use '../../../styles/base/fonts' as *;

label {
  @include flex-center(row, 10px);
  position: relative;
  font-family: 'Almarai';
  font-size: 20px;
}

input[type='checkbox'] {
  appearance: none;
  background-image: url('../../../../public/svg/checkbox.svg');
  width: 15px;
  height: 15px;

  &:hover {
    background-image: url('../../../../public/svg/checkbox-hovered.svg');
  }

  &:checked {
    background-image: url('../../../../public/svg/checkbox-checked.svg');
  }
}

p {
  @include flex-center(row, 4px);
  font-family: 'Mulish';
  font-size: 16px;
  color: $primary-purple;

  span {
    font-family: 'Mulish 700';
  }
}

p:hover {
    input[type='checkbox'] {
        background-image: url('../../../../public/svg/checkbox-hovered.svg');
    }
}