@use '../../../styles/abstract/mixins' as *;
@use '../../../styles/abstract/variables' as *;
@use '../../../styles/base/fonts' as *;

.survey-input {
  @include flex-start(row, 16px);
  justify-self: flex-start;
  position: relative;
  border-radius: 3px;
  padding: 0 4px;

  &:hover {
    cursor: pointer;
    background: #ffcfa166;
  }
}

.survey-input__control {
  appearance: none;
  background-image: url('../../../../public/svg/checkbox.svg');
  min-width: 15px;
  height: 15px;
  margin-top: 4px;

  &:hover {
    cursor: pointer;
  }

  &:checked {
    background-image: url('../../../../public/svg/checkbox-checked.svg');
  }
}

.survey-input__label {
  @include flex-start(row, 4px);
  font-family: 'Mulish';
  font-size: 16px;
  color: $primary-purple;
}

.survey-input__prefix {
  font-family: 'Mulish 700';
}
