@use '../../../styles/abstract/mixins' as *;
@use '../../../styles/abstract/variables' as *;
@use '../../../styles/base/fonts' as *;

:host {
  display: block;
  width: 100%;
}

.survey-results {
  @include flex-start(column, 20px);
  width: 100%;
  padding: 8px;

  &__button {
    @include flex-center(row, 10px);
    background: none;
    border: none;
    border-radius: 5px;
    padding: 4px 6px;
    font-family: 'Mulish 700';
    font-size: 18px;
    color: $primary-purple;

    @include respond(lg) {
      display: none;
    }

    &:hover {
      cursor: pointer;
      background: #8e70991a;
    }
  }

  &__arrow {
    filter: brightness(0) saturate(100%) invert(15%) sepia(21%) saturate(909%) hue-rotate(239deg)
      brightness(88%) contrast(90%);
  }

  &__container {
    display: none;
    width: 100%;
    container-type: inline-size;

    @include respond(lg) {
      @include flex-start(column, 16px);
    }

    &--open {
      @include flex-start(column, 16px);
    }
  }

  &__title {
    font-family: 'Nerko One';
    font-size: 32px;
    font-weight: 400;
    color: $primary-purple;
  }

  &__prefix {
    color: $secondary-orange;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 24px;
    width: 100%;

    @container (min-width: 500px) {
      grid-template-columns: repeat(2, minmax(245px, 1fr));
    }
  }
}
