@use '../../../styles/abstract/mixins' as *;
@use '../../../styles/abstract/variables' as *;
@use '../../../styles/base/fonts' as *;

:host {
  @include flex-start(column, 40px);
  width: 100%;
  container-type: inline-size;
}

.survey-form {
  @include flex-end(column, 24px);
  width: 100%;

  &__container {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 24px;
    width: 100%;

    @container (min-width: 624px) {
      grid-template-columns: repeat(2, minmax(300px, 1fr));
      column-gap: clamp(24px, calc(100cqi - 600px), 58px);
    }
  }

  &__question {
    width: 100%;
  }

  &__button {
    --button-img-height: 16px;
    --button-padding: 8px 12px;
    align-self: flex-end;
  }

  &__error {
    display: none;
    align-self: flex-end;
    font-family: 'Mulish 500';
    color: red;
    margin-top: -18px;

    &--visible {
      display: flex;
    }
  }
}
