@use '../../../styles/abstract/mixins' as *;
@use '../../../styles/abstract/variables' as *;
@use '../../../styles/base/fonts' as *;

:host {
  @include flex-end(column, 40px);
}

.survey-form {
  @include flex-start(column, 24px);

  &__button {
    @include flex-center(row, 10px);
    background: $secondary-orange;
    border: none;
    border-radius: 10px;
    padding: 12px 16px;
    font-family: 'Nokora 700';
    font-size: 18px;
    color: $primary-purple;

    img {
      width: 18px;
    }
  }
}
