@use '../../../styles/abstract/mixins' as *;
@use '../../../styles/abstract/variables' as *;
@use '../../../styles/base/fonts' as *;

.survey-question {
  @include flex-start(column, 24px);
  border: none;
  color: $primary-purple;

  &__header {
    @include flex-start(column, 3px);
  }

  &__title {
    font-family: 'Mulish 700';
    font-size: 18px;
    padding-left: 21px;
    text-indent: -21px;
  }

  &__multi-select {
    font-family: 'Mulish';
    font-size: 12px;
    padding-left: 21px;
  }

  &__inputs-wrapper {
    @include flex-start(column, 8px);
    padding-left: 8px;
  }
}
