<fieldset class="survey-question" [disabled]="disabled()">
  <div class="survey-question__header">
    <legend class="survey-question__title">{{ questionId() }}. {{ question().question }}</legend>
    @if (question().allow_multiple_answers) {
      <p class="survey-question__multi-select">More than one answer is possible</p>
    }
  </div>
  <div class="survey-question__inputs-wrapper">
    @for (answer of question().answer_options; track answer.id; let index = $index) {
      <app-survey-input
        [answer]="answer"
        [answerId]="$index"
        [multiSelect]="question().allow_multiple_answers ? true : false"
        (selectionChange)="onSelectionChange($event)"
      ></app-survey-input>
    }
  </div>
</fieldset>
