@use '../../../styles/abstract/mixins' as *;
@use '../../../styles/abstract/variables' as *;
@use '../../../styles/base/fonts' as *;

.create-survey-field {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  grid-template-areas: 'label action' 'input input';
  gap: 4px 8px;
  width: 100%;
  color: $primary-white;

  @include respond(lg) {
    grid-template-areas:
      'label label'
      'input action';
    align-items: start;
  }

  &__label {
    font-family: 'Mulish 700';
    font-size: 18px;
    grid-area: label;
  }

  &__highlight {
    font-family: 'Mulish';
    font-size: 18px;
  }
}

.create-survey-field__action {
  @include flex-center();
  background: none;
  border: none;
  border-radius: 3px;
  width: 26px;
  aspect-ratio: 1/1;
  grid-area: action;

  &:hover {
    cursor: pointer;
    background: $tertiary-orange;

    img {
      filter: brightness(0) saturate(100%) invert(13%) sepia(5%) saturate(4290%) hue-rotate(239deg)
        brightness(96%) contrast(88%);
    }
  }
}

.create-survey-field__input {
  border: none;
  width: 100%;
  border-radius: 5px 20px 5px 5px;
  padding: 7px 13px;
  background: $primary-white;
  resize: none;
  outline: none;
  font-family: 'Mulish';
  font-size: 16px;
  color: $primary-purple;
  grid-area: input;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    background: #fee9d4;
  }
}
