@use '../../../styles/abstract/mixins' as *;
@use '../../../styles/abstract/variables' as *;
@use '../../../styles/base/fonts' as *;

.survey-view {
  @include flex-center(column, 40px);
  padding: 40px 16px;
  background: #8e70991a;
  border-top-right-radius: 100px;

  &__header-wrapper {
    @include flex-center(column, 24px);
  }

  &__header {
    @include flex-start(column, 16px);
  }

  &__status,
  &__meta {
    @include flex-space();
    width: 100%;
  }

  &__status-badge {
    --survey-status-padding: 3px 12px 3px 8px;
    --survey-status-bg: #ffb770;
    --survey-status-font-family: 'Mulish 600';
    --survey-status-font-size: 16px;
  }

  &__close-button {
    @include flex-center();
    border: none;
    border-radius: 10px;
    background: $tertiary-orange;
    padding: 8px 11px 7px 12px;
    margin-right: 16px;

    img {
      width: 13px;
      aspect-ratio: 1/1;
    }
  }

  &__meta {
    font-family: 'Mulish 500';
    font-size: 14px;
    color: $primary-purple;
  }

  &__title {
    font-family: 'Nerko One';
    font-size: 48px;
    font-weight: 400;
    line-height: 42px;
    color: $primary-orange;
  }

  &__description {
    font-family: 'Mulish 500';
    font-size: 16px;
  }
}
