<div class="survey-status">
  @if (displayMode() === 'published') {
    <span class="survey-status__text">Published</span>
  } @else {
    @let remainingDays = getRemainingDays();
    @if (remainingDays < 0) {
      <span class="survey-status__text">Ended {{ remainingDays * -1 }} Days ago</span>
    } @else if (remainingDays === 0) {
      <span class="survey-status__text">Ends today</span>
    } @else if (remainingDays === 1) {
      <span class="survey-status__text">Ends in {{ remainingDays }} Day</span>
    } @else {
      <span class="survey-status__text">Ends in {{ remainingDays }} Days</span>
    }
  }
</div>
