@use '../../styles/abstract/mixins' as *;
@use '../../styles/abstract/variables' as *;
@use '../../styles/base/fonts' as *;

:host {
  display: block;
  padding: 0 0 48px 0;

  @include respond(md) {
    padding: 0 32px 48px 32px;
  }

  @include respond(lg) {
    padding: 48px 100px;
  }
}

.create-survey {
  @include flex-center(column, 48px);
  background: $primary-purple;
  padding: 40px 16px;
  border-radius: 5px 100px 5px 5px;

  &__wrapper {
    @include flex-center(column, 32px);
    width: 100%;
  }

  &__header {
    @include flex-start(column, 16px);
    width: 100%;
  }

  &__status {
    @include flex-space();
    width: 100%;
  }

  &__close-button {
    @include flex-center();
    border: none;
    border-radius: 10px;
    background: #ffb7704d;
    padding: 8px 11px 7px 12px;
    margin-right: 16px;

    &:hover {
      cursor: pointer;
      background: #b48260;
    }

    img {
      width: 13px;
      aspect-ratio: 1/1;
    }
  }

  &__title {
    font-family: 'Nerko One';
    font-weight: 400;
    font-size: 56px;
    line-height: 42px;
    color: #ee9236;
  }

  &__form {
    @include flex-center(column, 12px);
    width: 100%;
    background: #8e709929;
    border-radius: 5px 80px 5px 5px;
    padding: 40px 10px;
    container-type: inline-size;
  }

  &__field {
    width: 100%;
  }

  &__field--name {
    @include respond(lg) {
      grid-area: name;
    }
  }

  &__date-category-row {
    @include flex-start(column, 8px);
    width: 100%;

    @include respond(1124px) {
      grid-area: date-category;
      flex-direction: row;
    }
  }

  &__field--description {
    @include respond(1124px) {
      grid-area: description;
    }
  }

  &__dropdown {
    align-self: flex-start;
    margin-bottom: 18px;

    @include respond(1124px) {
      order: 2;
      min-width: max-content;
    }
  }

  &__questions-wrapper {
    @include flex-start(column, 30px);
    width: 100%;
    margin-top: 30px;
  }

  &__question {
    width: 100%;
  }

  &__button-add-question {
    @include flex-center(row, 10px);
    margin-top: 80px;
    padding: 8px 12px;
    border: unset;
    background: #ffb7704d;
    border-radius: 10px;
    font-family: 'Nokora 700';
    font-size: 16px;
    color: $primary-white;

    &:hover {
      cursor: pointer;
      background: #b48260;
    }
  }

  &__icon-add-question {
    filter: brightness(0) saturate(100%) invert(100%) sepia(11%) saturate(6903%) hue-rotate(189deg)
      brightness(108%) contrast(102%);
  }

  &__button {
    --button-img-height: 16px;
  }
}

.create-survey__details {
  @include flex-start(column, 8px);
  width: 100%;

  @include respond(1124px) {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-areas: 'name description' 'date-category description';
    column-gap: 32px;
    row-gap: 8px;
  }
}
