@use '../../../styles/abstract/mixins' as *;

:host {
  display: block;
  width: 100vw;

  @include respond(xl) {
    width: 100%;
    max-width: 1042px;
  }
}

.ending-soon {
  @include flex-start(column, 16px);
  width: 100%;

  @include respond(lg) {
    gap: 24px;
  }

  @include respond(xl) {
    gap: 32px;
  }

  &__title {
    font-family: 'Mulish';
    font-size: clamp(24px, calc(32 / 1440 * 100vw), 32px);
    font-weight: 400;
    color: white;
    padding-left: 16px;

    @include respond(xs) {
      padding-left: 32px;
    }

    @include respond(lg) {
      padding-left: 100px;
    }

    @include respond(xl) {
      padding: 0;
    }
  }

  &__card-wrapper {
    @include flex-start(row, 16px);
    justify-content: flex-start;
    width: 100%;
    padding-left: 16px;
    overflow-x: auto;
    overflow-y: hidden;

    @include respond(xs) {
      padding-left: 32px;
    }

    @include respond(lg) {
      padding-left: 100px;
    }

    @include respond(xl) {
      @include flex-start(row, 32px);
      max-width: 1042px;
      padding: 0;
      align-self: center;
    }
  }

  &__card {
    display: block;
    flex: 0 0 250px;
    width: 250px;
    height: 233px;

    @include respond(xl) {
      flex: none;
      width: 321px;
      height: 310px;
    }
  }
}

::-webkit-scrollbar {
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #bababa;
  border-radius: 10px;
}
