@use '../../../styles/abstract/mixins' as *;

:host {
  display: block;
  width: calc(100% + 32px);
  margin-inline: -16px;

  @include respond(xs) {
    width: calc(100% + 64px);
    margin-inline: -32px;
  }

  @include respond(lg) {
    width: calc(100% + 200px);
    margin-inline: -100px;
  }

  @include respond(xl) {
    width: 100%;
    max-width: 1042px;
    margin-inline: 0;
  }
}

.ending-soon {
  @include flex-start(column, 16px);
  width: 100%;

  @include respond(lg) {
    gap: 24px;
  }

  @include respond(xl) {
    gap: 32px;
  }

  &__title {
    font-family: 'Mulish';
    font-size: clamp(24px, calc(32 / 1440 * 100vw), 32px);
    font-weight: 400;
    color: white;
    padding-left: 16px;

    @include respond(xs) {
      padding-left: 32px;
    }

    @include respond(lg) {
      padding-left: 100px;
    }

    @include respond(xl) {
      padding: 0;
    }
  }

  &__card-wrapper {
    @include flex-start(row, 16px);
    justify-content: flex-start;
    width: 100%;
    padding-inline: 16px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @include respond(xs) {
      padding-inline: 32px;
    }

    @include respond(lg) {
      padding-left: 100px;
    }

    @include respond(xl) {
      @include flex-start(row, 32px);
      max-width: 1042px;
      padding: 0;
      align-self: center;
    }
  }

  &__card {
    display: block;
    flex: 0 0 250px;
    width: 250px;
    height: 233px;

    @include respond(xl) {
      flex: none;
      width: 321px;
      height: 310px;
    }
  }
}
