@use '../../../styles/abstract/mixins' as *;
@use '../../../styles/abstract/variables' as *;
@use '../../../styles/base/fonts' as *;

:host {
    display: block;
    width: 100%;
}

.survey-overview {
    @include flex-start(column, 48px);
    width: 100%;

    &__status{
        @include flex-start(row, 16px);
    }

    &__list-wrapper{
        @include flex-start(column, 24px);
    }
}

.survey-overview__button {
    background: #FEE9D4;
    border: none;
    border-radius: 20px;
    padding: 2px 10px;
    font-family: 'Nokora';
    font-size: 14px;

    &--active{
        background: $secondary-orange;
    }
}