@use '../../../styles/abstract/variables' as *;
@use '../../../styles/abstract/mixins' as *;

.button {
  @include flex-center();
  padding: 12px 16px;
  background: $secondary-orange;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  @include respond(lg) {
    background: $tertiary-orange;
    transition: all 0.3s ease;
  }
}

.button:hover {
  @include respond(lg) {
    background: $secondary-orange;

    .button__icon {
      width: 24px;
      margin-left: 10px;
    }
  }
}

.button__text {
  font-family: 'Nokora 700';
  font-size: 18px;
  color: $text-purple;
}

.button__icon {
  width: 24px;
  margin-left: 10px;
  @include respond(lg) {
    width: 0;
    transition:
      width 0.3s ease,
      margin 0.3s ease;
  }
}
