@use '../../../styles/abstract/mixins' as *;
@use '../../../styles/abstract/variables' as *;
@use '../../../styles/base/fonts' as *;

.survey-card {
  @include flex-space(column);
  width: 100%;
  height: 100%;
  background: $secondary-lilac;
  border-top-right-radius: 80px;
  padding: 24px 16px;

  &:hover {
    cursor: pointer;
    background: $primary-lilac;
  }

  @include respond(xl) {
    padding: 40px 25px;
  }

  &__header {
    @include flex-start(column, 8px);
  }

  &__category {
    font-family: 'Mulish 600';
    font-size: 14px;
    color: $primary-purple;
  }

  &__title {
    font-family: 'Mulish 700';
    font-size: 24px;
    color: $primary-purple;

    @include respond(xl) {
      font-size: 26px;
    }
  }
}
