@use './styles/abstract/variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: auto;
  scrollbar-gutter: stable;
}

html:has(app-home) {
  background: $primary-purple;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: $secondary-orange;
  border-radius: 10px;
}
