@use '../../../../styles/abstract/variables' as *;

.hero-visual {
  position: relative;
  height: 100%;

  &__phone {
    position: relative;
    height: 100%;
    z-index: 1;
  }

  &__bubble {
    position: absolute;
  }
}

.hero-visual__bubble--message {
  width: 32%;
  aspect-ratio: 168/111;
  top: 16%;
  left: 6%;
  z-index: 2;

  img {
    width: 100%;
    animation: pulse 6s infinite ease-in-out;
  }

  &::after {
    content: '';
    position: absolute;
    top: 105%;
    left: 56.25%;
    width: 18.75%;
    aspect-ratio: 1.2/1;
    border-radius: 3px;
    background-color: rgb(86, 50, 110);
    opacity: 80%;
    transform: rotate(-15deg);
    animation: rotate 4s infinite ease;
  }
}

.hero-visual__bubble--star {
  width: 20%;
  aspect-ratio: 1/1;
  bottom: 2%;
  left: 8%;

  img {
    width: 100%;
    animation: slideRight 8s infinite ease-in-out;
  }

  &::after {
    content: '';
    position: absolute;
    top: 80%;
    left: -30%;
    width: 30%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: rgb(67, 53, 87);
    animation: slideFurtherRight 8s infinite ease-in-out;
  }
}

.hero-visual__bubble--question {
  width: 18%;
  aspect-ratio: 92/94;
  top: 4%;
  right: 12%;
  z-index: 2;

  img {
    width: 100%;
    animation:
      pulse 10s infinite ease-in-out,
      rotate 10s infinite ease;
  }

  &::after {
    content: '';
    position: absolute;
    top: 88%;
    right: 40%;
    width: 22.25%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: rgb(211, 153, 102);
    offset-path: var(--question-dot-path, path('M 5 3 Q 36 0 30 -34'));
    offset-rotate: 0deg;
    animation: curve 6s infinite ease-in-out;
    z-index: -1;
  }
}

.hero-visual__bubble--check {
  width: 22%;
  aspect-ratio: 1/1;
  bottom: 16%;
  right: 0;

  img {
    width: 100%;
    animation: slideLeft 10s infinite ease-in-out;
  }

  &::after {
    content: '';
    position: absolute;
    top: -27.27%;
    left: -27.27%;
    width: 36.36%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: rgb(113, 82, 75);
    animation: pulse 3s infinite ease-in-out;
  }
}

@keyframes pulse {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-54.55%, 18.18%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideRight {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(20%, -20%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideFurtherRight {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(106.67%, -106.67%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rotate {
  0% {
    rotate: 0;
  }
  50% {
    rotate: 20deg;
  }
  100% {
    rotate: 0;
  }
}

@keyframes curve {
  0% {
    offset-distance: 0%;
  }
  50% {
    offset-distance: 100%;
  }
  100% {
    offset-distance: 0%;
  }
}
