@use '../../styles/base/fonts' as *;
@use '../../styles/abstract/mixins' as *;
@use '../../styles/abstract/variables' as *;
@use '../../styles/abstract/breakpoints' as *;

:host {
  @include respond(4xl) {
    @include flex-center(column);
    justify-content: flex-start;
    width: 100vw;
    min-height: calc(100vh - 172px);
    background-color: $primary-purple;
  }
}

.home-wrapper {
  @include flex-center(column, 80px);
  width: 100%;
  max-width: 100vw;
  padding: 0 16px 48px 16px;
  background-color: $primary-purple;

  @include respond(xs) {
    padding: 0 32px 48px 32px;
  }

  @include respond(lg) {
    padding: 0 100px 36px 100px;
  }

  @include respond(4xl) {
    max-width: 1920px;
  }
}

.surveys {
  @include flex-center(column, 48px);
  width: 100%;
}

.surveys__title {
  font-family: 'Nerko One';
  font-size: clamp(50px, calc(54 / 340 * 100vw), 54px);
  font-weight: 400;
  color: $secondary-orange;

  @include respond(lg) {
    font-size: clamp(45px, calc(72 / 1440 * 100vw), 72px);
  }
}
