@use '../../styles/base/fonts' as *;
@use '../../styles/abstract/mixins' as *;
@use '../../styles/abstract/variables' as *;
@use '../../styles/abstract/breakpoints' as *;

.home-wrapper {
  @include flex-center(column, 80px);
  width: 100%;
  max-width: 100vw;
  padding: 0 16px 48px 16px;
  background-color: $primary-purple;

  @include respond(xs) {
    padding: 0 32px 48px 32px;
  }

  @include respond(lg) {
    padding: 0 100px 36px 100px;
  }
}

.surveys {
  @include flex-center(column, 48px);
  width: 100%;
}

.surveys__title {
  font-family: 'Nerko One';
  font-size: clamp(50px, calc(54 / 340 * 100vw), 54px);
  font-weight: 400;
  color: $secondary-orange;
}
