@use '../../styles/base/fonts' as *;
@use '../../styles/abstract/mixins' as *;
@use '../../styles/abstract/variables' as *;

.home-wrapper{
    @include flex-center(column, 80px);
    width: 100vw;
    padding: 0 16px;
    background-color: $primary-purple;
}

.surveys{
    @include flex-center(column, 48px);
    width: 100%;
}

.surveys__title{
    font-family: 'Nerko One';
    font-size: 54px;
    color: $secondary-orange;
}