/* nerko-one-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Nerko One';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/nerko-one-v17-latin-regular.woff2') format('woff2');
}

/* mulish-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/mulish-v18-latin-regular.woff2') format('woff2');
}

/* mulish-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Mulish 500';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/mulish-v18-latin-500.woff2') format('woff2');
}

/* mulish-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Mulish 600';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/mulish-v18-latin-600.woff2') format('woff2');
}

/* mulish-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Mulish 700';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/mulish-v18-latin-700.woff2') format('woff2');
}

/* nokora-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Nokora';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/nokora-v34-latin-regular.woff2') format('woff2');
}

/* nokora-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Nokora 700';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/nokora-v34-latin-700.woff2') format('woff2');
}